/* src/Slideshow.css */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    background-color: black; /* Cambia el color de fondo según tus necesidades */
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.image {
    position: absolute;
    width: 20%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out; /* Transición para la visibilidad */
    opacity: 1; /* Inicialmente visible */
}

/* Añade una clase para manejar animaciones adicionales durante la transición */
.transition {
    animation: fadeInOut 1s ease-in-out; /* Ejemplo de animación */
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
